body {
  font-family: "Inter", sans-serif;
  background-color: #EDEEF3;
}

header {
  background-color: #055160;
  height: 295px;
  margin: o auto;
  position: fixed;
  top: 0;
  width: 100%;
}
header div {
  padding-top: 68px;
}
header h1 {
  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  line-height: 87px;
  text-align: center;
  color: #CFF4FC;
}
header p {
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 4px;
  color: #CFF4FC;
}
header input {
  height: 64px; 
  width: 820px ;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  margin-top: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50% ;
  left: 50%;
  padding-right: 32px;
  text-align: left;
}

main {
  padding-top: 295px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 80px 226px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.wrap {
  width: 316px;
  height: 184;
  border-radius: 4px;
  padding: 24px;
  background-color: #ffffff;
}

h2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 18px;
  text-decoration: underline;
  text-align: center;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.emoji {
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #EDEEF3;
}
footer hr {
  color: #CED4DA;
  height: 1px;
  max-width: 1440px;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding: 13px 0 17px 0;
}
@media (max-width: 768px){
  header input{
    height: 44px;
    width: 520px;
  }
  .container{
      grid-template-columns: repeat(2, 1fr);
      gap:20px;
      align-items: center;
      justify-items: center;
      padding: 0px 0px 170px 0px;
    } 
}
@media (max-width: 600px){
  header{
    height: 210px;
  }
    header div {
      padding-top: 35px;
    }
  header input {
      margin-top: 105px;
      width: 420px;
    }
  .container{
    grid-template-columns: repeat(1, 1fr);
    gap:10px;
  }
}
@media (max-width: 480px){
    header {
        height: 180px;
      }
    
    header div {
        padding-top: 0px;
      }
    
    header input {
        width: 350px;
      }
    header h1{
      font-size: 50px;
    }
    header p{
    font-size: 10px;
    text-align: center;
    margin-top: 2px;
    }
}
@media (max-width: 360px){
  header {
      height: 150px;
    }
  
    header input {
      width: 250px;
      margin-top: 75px;
    }
  
    header h1 {
      font-size: 50px;
    }
  
}